.CardContainer {
  width: 24rem;
  height: 18rem;
  border-radius: 0.36rem;
  position: relative;
  cursor: pointer;
}
.CardContainer img {
  width: 24rem;
  height: 18rem;
  border-radius: 0.36rem;
}
.PlaceContainer {
  position: absolute;
  top: 12rem;
  left: 2rem;
  color: white;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
