.InnerContriesPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 50, 50);

  min-height: 100vh;
  width: 100%;
}

.InnerContriesPageContainer h2 {
  font-size: 2.5rem;
  color: white;
}
